*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#Main_div{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;

}
#container{
  width: 430px;
  height: 100%;

}