      <!-- 푸터 -->
      <footer>
        <!-- 고정 하단 바  -->
        <div id="footer_div">
          <!-- 왼쪽 아이콘 -->
          <div class="footer_icon"><a href="./"><i class="fa-solid fa-house"></i></a></div>
          <div class="footer_icon"><a href="./map"><i class="fa-solid fa-map"></i></a></div>
          <!-- 중간 아이콘 -->
          <div class="mid_icon">
            <a href="./qrPage">
              <div><img src="../../file/qrcode.svg" alt=""></div>
          </a>
          </div>
          <!-- 오른쪽 아이콘 -->
          <div class="footer_icon"><a href="./stampPage"><i class="fa-solid fa-stamp"></i></a></div>
          <div id="loginA" class="footer_icon">
            <a><i class="fa-solid fa-user"></i></a></div>
        </div>
      </footer>
      <script>
            const loginA = document.getElementById("loginA");
        loginA.addEventListener("click", () => {
          const accessToken = localStorage.getItem("accessToken");
          if (accessToken) {
            // 토큰이 있으면 myPage로 이동
            window.location.href = "./myPage";
          } else {
            // 토큰이 없으면 로그인 페이지로 이동
            window.location.href = "./login";
          }
        });
      </script>