      <!-- 푸터 -->
      <footer>
        <!-- 고정 하단 바  -->
        <div id="footer_div">
          <!-- 왼쪽 아이콘 -->
          <div class="footer_icon"><a href="./"><i class="fa-solid fa-house"></i></a></div>
          <div class="footer_icon"><a href="./map"><i class="fa-solid fa-map"></i></a></div>
          <!-- 중간 아이콘 -->
          <div class="mid_icon">
            <a href="./qrPage">
              <div><img src="../../file/qrcode.svg" alt=""></div>
          </a>
          </div>
          <!-- 오른쪽 아이콘 -->
          <div class="footer_icon"><a href="./stampPage"><i class="fa-solid fa-stamp"></i></a></div>
          <div class="footer_icon">
            <a href="./myPage"><i class="fa-solid fa-user"></i></a></div>
        </div>
      </footer>