*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: black ;
}
#Main_div{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-image: url(../file/background.png);
  background-repeat: repeat;
}
#container{
  width: 100%;
  height: 100%;
}
#main_contant h2 {
  margin:0;
  font-weight: bold;
  font-size: 20px;
  color:black;
}
#mapSection {
  margin-top: 30px;
}
.north {
  margin-left: 30%;
}
.south {
  position: absolute;
  left: 19%;
  bottom:14.5%
}