*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: black ;
}
#Main_div{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../file/background.png);
  background-repeat: repeat;
}
#container{
  width: 100%;
  height: 100%;
}
#main_contant{
  width: 100%;
  height: 100%;
}
#main_contant h2 {
  margin-top:30px;
  font-weight: bold;
  font-size: 20px;
  color:black;
}
#mapSection{
  width: 100%;
  height: 500px;
  position: relative;
}
.north {
  margin-left: 30%;
}
.south {
  position: absolute;
  left: 18.2%;
  bottom:23.5%
}