.wrap {
  max-width: 406px;
  height: 100vh;
  margin: 0 auto;
  background-image: url(../file/background.png);
  background-repeat: repeat;
}
#myPage_welcome {
  width: 100%;
  padding: 20px 12px;
}
#myPage_welcome_div {
  width: 100%;
  height: 165px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logOut {
  width: 125px;
  height: 40px;
  background-color: #900034;
  color: white;
  margin: 20px 0;
}
#myPage_welcome_div_left {
  font-weight: bold;
  font-size: 25px;
}
.profile {
  width: 128px;
  height: 128px;
  background: white;
  outline: 3px solid #FFFCE6;
  border-radius: 50%;
}
.profile_img {
  object-fit: cover;
  object-position: center;
  margin: 23px 26px;
}
.myPage {
  margin: 0 12px;
  background: white;
  margin-top: 30px;
}
.myPage > h2 {
  margin: 0 0 0 20px;
  padding-top: 20px;
  font-size: 30px;
}
#myPage_info {
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#myPage_info_info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #900034;
}
#myPage_info_info_user {
  display: flex;
}
#myPage_info_info_user img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
}
.arrow1{
  width: 19px;
  height: 10px;
}
.arrow2{
  width: 19px;
  height: 10px;
}
.arrow3{
  width: 19px;
  height: 10px;
}
.edit {
  width: 95px;
  height: 25px;
  color: white;
  font-size: 15px;
  padding: 3px 0;
  margin: 10px 0;
  display: none;
}
.ex_edit {
  width: 95px;
  height: 25px;
  color: white;
  font-size: 15px;
  padding: 3px 0;
  margin: 10px 0;
  display: none;
}
.myPage_info_info_user_profile {
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 5px;
}
#myPage_img_article {
  display: flex;
  gap: 20px;
}
#myPage_img_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
  margin-bottom: 5px;
}
#myPage_img_box img {
  width: 50px;
  object-fit: cover;
}
#myPage_img_box div {
  display: flex;
}
#img_cul {
  display: flex;
  justify-content: space-between;
}
