body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#h2 {
  margin-top: 146px;
  margin-bottom: 86px;
  font-weight: bold;
  font-size: 40px;
  color: #900034;
}
#sign_label {
  font-size: 10px;
}

#signup-form {
  text-align: center;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.input-group label {
  flex: 1;
  margin-right: 10px;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
  flex: 2;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #900034;
}

.input-group input[type="checkbox"] {
  margin-left: 10px;
}

label[for="age-check"] {
  margin-right: 5px;
}

button {
  display: inline-block;
  width: 30%;
  margin: 37px 0;
  border: none;
  border-radius: 5px;
  background-color: #900034;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
