<%- include('common/header.ejs') %>
  <div id="Main_div">
    <!-- 메인 컨테이너 -->
    <div id="container" class="detailPage_container">
      <header>
        <img src="../file/logo.svg" alt="">
        <div id="guide">?</div>
      </header>
      <!-- 위 이미지 -->
       <div id="detailPage_img"></div>
       <!-- 아래 양조장 정보 -->
       <div id="yaungjojang_info_div">
        <!-- 양조장 이름 및 찜하기 -->
        <div id="yaungjojang_info_div_div">
          <!-- 왼쪽 양조장 이름 -->
          <h2 id="Yaungjojang_name"></h2>
          <!-- 오른쪽 찜하기 -->
          <div id="detailPage_jjim">
          </div>
        </div>
        <!--예약 방문 및 홈페이지 -->
        <div class="detailPage_info">
       </div>
       <!-- 체험프로그램 정보 -->
       <div id="detailPage_Cheheom">
        <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30"
        slides-per-view="1.3">
        <div class="swiper-wrapper">
          <!-- 슬라이드들이 여기에 추가됩니다 -->
        </div>
      </swiper-container>
       </div>
       <!-- 파는 술 정보 -->
       <h2 id="sul">판매하는 술 </h2>
       <div id="detailPage_suljeongbo_main_div">
          <div class="detailPage_suljeongbo">
            <!-- 왼쪽 이미지 -->
            <div id="detailPage_suljeongbo_img">
              <div>이미지</div>
            </div>
            <!-- 오른쪽 텍스트 -->
            <div id="detailPage_suljeongbo_text">
              <h3>주종명</h3>
              <p>도수: <b>200%</b></p>
              <p>용량: <b>750ml</b></p>
              <p>보관방법: <b>직사광선을 피하고 서늘한 곳에 보관하세요 </b></p>
            </div>
          </div>
          <div class="detailPage_suljeongbo">
            <!-- 왼쪽 이미지 -->
            <div id="detailPage_suljeongbo_img">
              <div>이미지</div>
            </div>
            <!-- 오른쪽 텍스트 -->
            <div id="detailPage_suljeongbo_text">
              <h3>주종명</h3>
              <p>도수: <b>200%</b></p>
              <p>용량: <b>750ml</b></p>
              <p>보관방법: <b>직사광선을 피하고 서늘한 곳에 보관하세요 </b></p>
            </div>
          </div>
       </div>
       <div></div>
       <%- include('common/footer.ejs') %>
    </div>
    <!-- 이미지 경로 확인 테스트 -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script src="../js/detail.js"></script>
 
</body>
</html>