<%- include('common/header.ejs') %>
  <div id="Main_div">
    <!-- 메인 컨테이너 -->
    <div id="container" class="detailPage_container">
      <header>
        <img src="../file/logo.svg" alt="">
        <div id="guide">?</div>
      </header>
      <!-- 위 이미지 -->
       <div id="detailPage_img"></div>
       <!-- 아래 양조장 정보 -->
       <div id="yaungjojang_info_div">
        <!-- 양조장 이름 및 찜하기 -->
        <div id="yaungjojang_info_div_div">
          <!-- 왼쪽 양조장 이름 -->
          <h2>양조장 이름</h2>
          <!-- 오른쪽 찜하기 -->
          <div id="detailPage_jjim">
            <!-- 하트 -->
            <div>♥</div>
            <!-- 찜하기 -->
            <div>찜하기</div>
          </div>
        </div>
        <div class="detailPage_info">
          <!-- 왼쪽 -->
          <div> 
              <p>주소: <b>xx-xxxx-xxxx</b></p>
              <p>주종: <b>증류주</b></p>
              <p>예약 방문: <b>가능</b></p>
          </div>
          <!-- 오른쪽 -->
          <div>
            <p>전화번호: <b>xxx-xxxx-xxxx</b></p>
            <p>상시 방문: <b>가능</b></p>
            <p>홈페이지: <b>바로가기(Click)</b></p>
          </div>
       
       
        <!--예약 방문 및 홈페이지 -->

       </div>
       <!-- 체험프로그램 정보 -->
       <div id="detailPage_Cheheom">
        <!-- 타이틀 -->
        <h2>체험프로그램</h2>
        <div id="detailPage_Cheheom_div">
          <!-- 왼쪽 이미지 -->
          <div>이미지</div>
          <!-- 오른쪽 텍스트 -->
          <div>
            <h3 class="detailPage_gap">프로그램명</h3>
            <p class="detailPage_gap">소요시간: <b>2시간</b></p>
            <p class="detailPage_gap">가격: <b>200,000원</b></p>
            <div class="detailPage_gap" id="detailPage_button">체험 예약하기</div>
          </div>
        </div>
       </div>
       <!-- 파는 술 정보 -->
       <h2 id="sul">판매하는 술 </h2>
       <div id="detailPage_suljeongbo_main_div">
          <div class="detailPage_suljeongbo">
            <!-- 왼쪽 이미지 -->
            <div id="detailPage_suljeongbo_img">
              <div>이미지</div>
            </div>
            <!-- 오른쪽 텍스트 -->
            <div id="detailPage_suljeongbo_text">
              <h3>주종명</h3>
              <p>도수: <b>200%</b></p>
              <p>용량: <b>750ml</b></p>
              <p>보관방법: <b>직사광선을 피하고 서늘한 곳에 보관하세요 </b></p>
            </div>
          </div>
          <div class="detailPage_suljeongbo">
            <!-- 왼쪽 이미지 -->
            <div id="detailPage_suljeongbo_img">
              <div>이미지</div>
            </div>
            <!-- 오른쪽 텍스트 -->
            <div id="detailPage_suljeongbo_text">
              <h3>주종명</h3>
              <p>도수: <b>200%</b></p>
              <p>용량: <b>750ml</b></p>
              <p>보관방법: <b>직사광선을 피하고 서늘한 곳에 보관하세요 </b></p>
            </div>
          </div>
       </div>
       <div></div>
       <%- include('common/footer.ejs') %>
    </div>
    <!-- 이미지 경로 확인 테스트 -->
    <script src="/js/detail.js"></script>
</body>
</html>