
  <%- include('common/header.ejs') %>
  <div id="Main_div">
    <!-- 메인 컨테이너 -->
    <div id="container">
      <!-- 헤더 나브 -->
      <header>
        <img src="../file/logo.svg" alt="">
        <div id="guide">?</div>
      </header>
      <!-- 배너부분 -->
      <section id="carosel">
        <!-- Slider main container -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../file/mainimg.svg"></div>
            <div class="swiper-slide"><img src="../file/mainimg.svg"></div>
            <div class="swiper-slide"><img src="../file/mainimg.svg"></div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </section>
      <!-- 메인 컨텐츠 -->
      <section id="main_contant">
        <!-- 메인 타이틀 -->
        <h2>원하는 지역을 선택해주세요</h2>
        <!-- 선택할수 있는 지도가 들어가는 공간 -->
        <div id="mapSection">
          <div id="north_div">
           <img class="north" src="../file/KN.png" alt="">
           <div id="north_before"></div>
          </div>
          <div id="south_div">
            <img class="south" src="../file/KS.png" alt="">
            <div id="south_before"></div>
          </div>
        </div>
      </section>

    </div>
  </div>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      loop: true,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });

  </script>
<script>
  // north_div의 가상 요소 클릭 이벤트
  document.getElementById("north_before").addEventListener("click", function() {
      console.log("경상북도");
  });

  // south_div의 가상 요소 클릭 이벤트
  document.getElementById("south_before").addEventListener("click", function() {
      console.log("경상남도");
  });
</script>
  <%- include('common/footer.ejs') %>
</body>
</html>