<%- include('common/header.ejs') %>
  <div id="Main_div">
    <!-- 메인 컨테이너 -->
    <div id="container">
      <header>
        <img src="../file/logo.png" alt="">
        <div id="guide">?</div>
      </header>
      <!-- 메인 지도 -->
      <div>지도 및 양조장 표시</div>
      </div>
      <%- include('common/footer.ejs') %>
    </div>
</body>
</html>