<%- include('common/header.ejs') %>
  <div id="Main_div">
    <!-- 메인 컨테이너 -->
    <div id="container">
  <header>
    <img src="../file/logo.png" alt="">
    <div id="guide">?</div>
  </header>
  <div>Qr</div>
  <%- include('common/footer.ejs') %>
  </div>
  </div>
</body>
</html>