<div>
  소셜로그인
</div>
<script>
  const urlParams = new URLSearchParams(window.location.search);
  const code = urlParams.get('code');
  const state = urlParams.get('state');
  // console.log(code, state);
</script>