<%- include('common/header.ejs') %>
  <div id="Main_div">
    <!-- 메인 컨테이너 -->
    <div id="container">
  <header>
    <img src="../file/logo.png" alt="">
    <div id="guide">?</div>
  </header>
  <!-- 컨텐츠 --> 
  <div>
    <!-- ooo님 환영합니다 상단 -->
    <div id="myPage_welcome">
        <div id="myPage_welcome_div">
        <!-- 왼쪽 환영및 로그아웃 -->
        <div id="myPage_welcome_div_left">
          <div>ooo의 스탬프현황</div>
          <div>방문한 양조장 02/50</div>
        </div>
        <!-- 오른쪽 프로필 이미지 -->
        <div class="profile">
          <img class="profile_img" src="../file/icon/profile.png">
        </div>
      </div>
    </div>
    <!-- 지역선택 -->
     <!-- <div id="stampPage_region">
      <div>서울 경기도</div>
      <div>충청도</div>
      <div>강원도</div>
      <div>경상도</div>
      <div>전라도</div>
      <div>제주도</div>
     </div> -->
  </div>
  <!-- 3x3 그리드 -->
  <div class="grid-container">
    <img src="../file/icon/stamp.png" class="grid-item " alt="">
    <img src="../file/icon/stamp.png" class="grid-item " alt="">
    <img src="../file/icon/stamp.png" class="grid-item " alt="">
    <img src="../file/icon/stamp.png" class="grid-item " alt="">
    <img src="../file/icon/stamp.png" class="grid-item " alt="">
    <img src="../file/icon/stamp.png" class="grid-item " alt="">
    <img src="../file/icon/stamp.png" class="grid-item " alt="">
    <img src="../file/icon/stamp.png" class="grid-item " alt="">
  </div>
  <%- include('common/footer.ejs') %>
  </div>
  </div>
</body>
</html>